.table-left{
  display: inline-block;
  float: left;
}

.table-right{
  display: inline-block;
  float: right;
}

td div{
  height: 50px;
}

label h3 {
  display: inline-block;
}

#checkout{
  display: inline-block;
  float: right;
}
