.table-left{
  display: inline-block;
  float: left;
}

.table-right{
  display: inline-block;
  float: right;
}

td div{
  height: 50px;
}

label h3 {
  display: inline-block;
}

#checkout{
  /*display: inline-block;*/
  position: absolute;
  right: 0px;
  top: 0px;
  /*float: right;*/
}

form {
  display: inline-block;
}

.checkout-pic{
  width: 200px;
}
