<div>
  <h2 class='table-left'> My Shopping Cart </h2>
  <h2 class="table-right"> Order Total: </h2>
</div>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='record in recordsInCart'>
      <td>
        <h3>{{record.album}}, {{record.artist}}</h3>
        <img src={{record.imageUrl}} alt={{record.album}} class='checkout-pic'>
        <p><Strong>Released:</Strong> {{record.releaseYear}}</p>
        <p><Strong>Rating:</Strong> {{record.rating}}</p>
        <p><Strong>Band Members:</Strong> {{record.bandMembers}}</p>
        <p><Strong>Trending Scale:</Strong> {{record.trendingScale}}</p>
      </td>
      <td>
        {{record.quantityInCart}}
      </td>
      <td>
        {{record.quantityInCart * record.price | currency}}
      </td>
      <td>

        <form ng-submit='editRecord()'>
          <input type='submit' class='btn btn-warning' value='Edit' ng-model='record' />
        </form>
        <form ng-submit='removeRecord()'>
          <input type='submit' class='btn btn-danger' value='Remove' ng-model='record' />
        </form>
      </td>
    </tr>
  </tbody>
</table>
<form ng-submit='placeOrder()'>
  <input type='submit' class='btn btn-success' value='Place Order' />
</form>
