
<div>
  <div>
    <label for='search-by-style'> Search by Style:
    <select ng-model='searchByStyle'>
      <option ng-repeat='style in styles' value='{{style}}'> {{style}}
    </select>
    <label for='search-by-band-member'> Search by Band Member:
    <input type='text' id='search-by-band-member' ng-model='searchByBandMember' name='search_by_band_member'/>
    <input type='submit' class='btn btn-danger' value='Checkout'>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th>Record</th>
        <th>
          <div class='table-left'>Information</div>
          <div class='table-right'>
            <label for='sort-price'>Sort by Price:</label>
            <select>

            </select>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='record in records | filter : searchByBandMember'>
        <td>
          <img src={{record.imageUrl}} alt={{record.album}}>
        </td>
        <td>
          <div>
            <div class='table-left'>
              <h3>{{record.album}}</h3>
            </div>
            <div class='table-right'>
              <label for='quantity'> Quantity:
              <select>
              </select>
              <input type='submit' class='btn btn-warning' value='Add to Cart'/>
            </div>
          </div>
          <p><Strong>Artist:</Strong> {{record.artist}}</p>
          <p><Strong>Price:</Strong> {{record.price | currency}}</p>
          <p><Strong>Released:</Strong> {{record.releaseYear}}</p>
          <p><Strong>In Stock?</Strong> {{record.inStock ? 'Yes' : 'No'}}</p>
          <p><Strong>Rating:</Strong> {{record.rating}}</p>
          <p><Strong>Band Members:</Strong> {{record.bandMembers}}</p>
          <p><Strong>Trending Scale:</Strong> {{record.trendingScale}}</p>
          <p><Strong>Styles:</Strong>
          <ul ng-repeat='style in record.styles'>
            <li>{{style}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
